{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% for product in products.all %}

    <div class="row pt-3">

        <div class="col-4" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
            <img src="{{ product.image.url }}" class="img-fluid"/>

        </div>

        <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
            <h4>{{ product.title }}</h4>
            <p>{{ product.summary }}</p>

        </div>

        <div class="col-2">
            <a href="javascript:{document.getElementById('upvote {{ product.id }}').submit()}"><button class="btn btn-secondary btn-large btn-block">{{ product.votes_total }} votes</button></a>
        </div>

    </div>

    <form id="upvote {{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">

{% csrf_token %}

    <input type="hidden">

</form>

    {% endfor %}
</body>
</html>

{% endblock %}